/*---------------------------------------------------------------------------------------*/
/* Style the Admin Settings Page */
/*---------------------------------------------------------------------------------------*/
.idocs-dashboard-card {
  max-width: 100% ;
  margin-bottom: 10px;
  border-width: 2px;
}
/*--------------------------------------------*/
.idocs-dashboard-subcard {
  height: 7rem;
  width: 20rem;
  background-color: #cfe2ff;
}
/*--------------------------------------------*/
.idocs-shortcodes-card {
  max-width: 100%;
  margin-bottom: 20px;
}
/*--------------------------------------------*/
.idocs-urls-card {
  max-width: 80%;

}
/*--------------------------------------------*/
.idocs-custom-kb-page-card {
  max-width: 80%;

}
/*--------------------------------------------*/
.idocs-access-categories-card {
  max-width: 100% !important;

}
/*--------------------------------------------*/
.idocs-access-users-card {
  max-width: 100% !important;

}
/*--------------------------------------------*/
.idocs-access-kbs-card {
  max-width: 100% !important;

}
/*--------------------------------------------*/
.idocs-access-roles-mapping-card {
  max-width: 70% !important;

}
/*--------------------------------------------*/
.idocs-access-groups-card {
  max-width: 70% !important;

}
/*--------------------------------------------*/
.idocs-uninstall-card {
  max-width: 60% !important;

}
/*---------------------------------------------------------------------------------------*/
/* adjusting the nav navigator tab - for the setting menu */
.nav-tab-active {
  background-color: #2271b1 !important ; 
  color: white;
}
/*--------------------------------------------*/
.nav-tab-active:hover {
  color: white;
} 
/*--------------------------------------------*/
.idocs-section-active {

  background-color: #1f851a !important ; 
  color: white;
}
/*--------------------------------------------*/
.nav-tab:hover {
  color: white;
  background-color:  #767776;
} 
/*--------------------------------------------*/
/* Menu Tabs */
.admin-settings-tabs {
  overflow: hidden; 
  border: 1px solid #ccc;
  background-color: white;
  
}
/*--------------------------------------------*/
.form-table th {
  
  font-weight:700;
  /*background-color: lightgray;*/
}
/*--------------------------------------------*/
.form-table td input {
  
   background-color: lightgray;

}
/*--------------------------------------------*/
/* Style the tab content */
.admin-settings-tabcontent {
 
  display: none; 
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
/*--------------------------------------------*/
/* Style the sub-tab content */
.sub-admin-settings-tabcontent {
 
  display: none; 
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
/*--------------------------------------------*/
.idocs-submit-settings-button {

    background-color:#2271b1 !important;
    color: rgb(255, 255, 255) !important;;
    letter-spacing: 1px !important;;
    font-weight: 600 !important;
    cursor: pointer !important;;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px !important;;
    border-width: 0px !important;;
    border-style: initial !important;;
    border-color: initial !important;;
    border-image: initial !important;;
    padding: 13px 25px !important;;
    border-radius: 10px !important;;
    margin: 30px 0px !important;;
    /* transition:  font-weight 0.5s ease !important;; */

}
/*--------------------------------------------*/
.idocs-customizer-warning-box {
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  font-size: 1.2rem;
  border: 1px solid black;
  width: 100%;
  padding:10px;
  margin-bottom: 10px;
  height: 3rem;
  transition: background-color 1s ease;
  cursor: pointer;
}
.idocs-customizer-warning-box:hover {

  background-color: #cbdb1b; 
}

.idocs-customizer-main-box {
  
  border: 1px solid black;
  text-align: center;
  width: 100%;
  padding:10px;
  height: 24rem;
  transition: background-color 1s ease;
  cursor: pointer;

}
/*--------------------------------------------*/
.idocs-customizer-main-box:hover {

  background-color: #babfc0; 
}
/*--------------------------------------------*/
.idocs-customizer-sub-box {
  width: 90%;
  height: 2.5rem;
  font-size: 1rem;
  border: 1px dotted black;
 
  margin-bottom: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;

}
/*--------------------------------------------*/
.idocs-customizer-sub-box:hover {

  background-color: #f1f2f3; 

}
/*--------------------------------------------*/
.idocs-customizer-sub-box-2 {
  width: 30%;
  height: 5rem;
  font-size: 1rem;
  border: 1px solid black;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;

}
/*--------------------------------------------*/
.idocs-customizer-sub-box-2:hover {

  background-color:#f1f2f3; 

}
/*--------------------------------------------*/
.button-hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s;
}
/*--------------------------------------------*/
.button-visible {
  opacity: 1;
  visibility: visible;
  background-color: #e4f312;
}
/*---------------------------------------------------------------------------------------*/
.idocs-settings-delete-button {

  background-color:#e06969;
  font-weight:500

}
/*--------------------------------------------*/
.idocs-settings-reset-button {

  background-color:#e06969;
  font-weight:500

}
/*--------------------------------------------*/
.idocs-settings-export-button {

  background-color:#69e075;
  font-weight:500

}
/*--------------------------------------------*/
.idocs-settings-import-button {

  background-color:#5ac3e0;
  font-weight:500

}
/*--------------------------------------------*/
.idocs-settings-confirm-button {

  background-color:#d8e614;
  font-weight:500

}
/*--------------------------------------------*/
.idocs-site-editor-template-box {
  
  display: flex;
  align-items: center; /* Vertically align */
  justify-content: center; /* Horizontally align, optional */

  border: 1px solid black;

  width: 100%;
  padding:10px;
  height: 4rem;
  transition: background-color 1s ease;
  cursor: pointer;

}
/*--------------------------------------------*/
.idocs-site-editor-template-box:hover {

  background-color: #babfc0; 
}
.idocs-site-editor-template-box a {

  text-decoration: none !important;

}
  
  